
<div class="accountManagement">
    <h1>True Ride Motors Administrative Management Portal</h1>
     <%- messages() %>
    <ul class="management_ul">
        <li>
            <a href="/inv/" title="Click to manage innventory">Manage Inventory</a>
        </li>
        <li>
            <a href="/account/upgrade" title="Click to upgrade user">Upgrade User</a>
        </li>
    </ul>
</div>
