<% const d = new Date(); let year = d.getFullYear(); %>
<footer>
    <p class="copyright">© <%= year %>, True Ride App</p>
    <!-- <a href="/type/10000" title="Server Error Link">Error Link</a> -->

    <a href="/error" title="Server Error Link">Error Link</a>
</footer>