<% if (messages && messages()) { %>
  <div class="flash-messages">
    <%- messages({
      wrapper: "div",
      message: "div",
      separator: "</div><div>"
    }) %>
  </div>
<% } %>

<% if (typeof errors !== 'undefined' && Array.isArray(errors) && errors.length > 0) { %>
  <div class="serverValidationError">
    <ul style="list-style: none; padding: 0; margin: 0;">
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  </div>
<% } %>
