<div class="firstHalf_main">

    <h1>Welcome to True Ride Motors!</h1>
    <div class="hero_img">  
        <picture id="hero_img">
            <source srcset="/images/vehicles/delorean.jpg" media="(min-width: 800px)">
            <source srcset="/images/vehicles/delorean-tn.jpg" media="(max-width: 799px)">
            <img src="/images/vehicles/delorean.jpg" alt="Main Image">
        </picture>
    </div>

    <div class="dmc_del">
        <p>
            <span id="dmc_header">DMC Delorean</span><br>
            3 Cup holders<br>
            Superman doors<br>
            Fuzzy dice!
        </p>
        <button id="own_today"> Own today</button>
    </div>
    
</div>


<div class="secondHalf">

    <div class="reviews">
        <h2 id="del_rev">DMC Delorean Reviews</h2>
        <ul class="del_rev_link">
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most fufuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul> 
    </div>

      
    
    <div class="upgrades">
        <h2 id="del_upg">Delorean Upgrades</h2> 
        <div class="del_upg_img">
            <div class="upgrade_divs">    
                <div class="upg_img"><img class="upg_img" src="images/upgrades/flux-cap.png" alt="Flux Cap"></div>
                <a href="#">Flux Capacitor</a>
            </div>
    
            <div class="upgrade_divs">    
                <div class="upg_img"><img class="upg_img" src="images/upgrades/flame.jpg" alt="Flame"></div>
                <a href="#">Flame Decals</a>
            </div>
    
            <div class="upgrade_divs">    
                <div class="upg_img"><img class="upg_img" src="images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker"></div>
                <a href="#">Bumper Stickers</a>
            </div>
    
            <div class="upgrade_divs">    
                <div class="upg_img"><img class="upg_img" src="images/upgrades/hub-cap.jpg" alt="Hub Cap"></div>
                <a href="#">Hub Caps</a>
            </div>
        </div>   
    </div>
 
   
</div>