
<div id="errorDiv">
    <h1 id="error_header"><%= title %></h1>
    <div class="funnyDiv" >
        <img id="errorImage" src="/images/site/errorImage.jpg" alt="Error Image">
        <p id="funny_error">Oops, You Can't Park Here!</p>
    </div>
    <p id="error_message"><%= message %></p>
</div>